.body {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in;
    background-color: var(--background-Header);
    border-bottom: solid #845bff 2px;
    ul {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        height: 20px;
        li {
            list-style-type: none;
            margin: 0 5px;
            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 15px;
            }
            a:after {
                display: flex;
                content: "";
                opacity: 0;
                border-radius: 5px;
                background-color: #ffffff;
                height: 3px;
                width: 0px;
                left: 50%;
                position: relative;
                transition: 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            a:hover:after,
            a:focus:after {
                opacity: 1;
                transition: 0.3s ease-in-out;
                width: 100%;
                box-shadow: 0 0 10px 1px white;
            }
        }
    }
}
@media all and (max-width: 760px) {
    .body {
        margin-right: 0;
        position: fixed;
        width: 250px;
        display: block;
        margin-right: -300px;
        right: 0;
        z-index: 40;
        top: 0;
        height: 120%;
        margin-top: 50px;
        border-bottom: none;
        ul {
            display: block;
            height: auto;
            margin: 0;
            li {
                height: 50px;
                margin: 0;
                border-top: solid var(--color-header-text) 2px;
                a {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    height: 100%;
                    width: 100%;
                }
                a:after {
                    display: none;
                }
            }
            li:last-child {
                border-bottom: solid var(--color-header-text) 2px;
            }
        }
    }
    .active {
        margin-right: 0;
    }
}
