.Main {
    height: 50px;
    width: 100%;
    transition: 0.3s;
    background-color: var(--background-Header);
    display: flex;
    color: var(--text);
    position: relative;
    .Name {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        a {
            color: white;
            font-weight: 600 !important;
            font-size: 25px;
            margin: 0 auto;
            text-decoration: none;
            span {
                color: var(--color-header-text);
            }
        }
    }
    .Panel {
        height: 100%;
        display: flex;
        position: absolute;
        right: 0;
        .cross {
            display: none;
        }
    }
}
@media all and (max-width: 760px){
    .Main {
        position: fixed;
        z-index: 30;
        .Panel {
            .parent{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                z-index: 100;
                .cross, .cross:before {
                    width: 30px;
                    background-color: white;
                    height: 2px;
                    transition: .3s;
                    display: block;
                }
                .cross:before {
                    content: '';
                    position: relative;
                    bottom: 7px;
                }
                .active {
                    transform: rotate(45deg);
                }
                .active::before {
                    margin-top: 7px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}
