ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 20px;
    li {
        list-style-type: none;
        margin: 0 5px;
        a {
            color: white;
            text-decoration: none;
            font-size: 15px;
        }
        a:after {
            display: block;
            content: "";
            background-color: #ffffff;
            height: 3px;
            width: 0px;
            left: 50%;
            position: relative;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        
        a:hover:after, a:focus:after {
            width: 100%;
        }
    }
}